<div *ngIf="course$ | async as courseData">
    <table>
      <tr>
        <th>ID</th>
        <th>Course Name</th>
        <th>Enrollment Count</th>
        <th>Publish Date</th>
        <th>Status</th>
        <th>Date of Birth</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Seat Number</th>
      </tr>
      <tr *ngFor="let course of courseData">
        <td>{{ course.id }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.enrollmentCount }}</td>
        <td>{{ course.publishDate }}</td>
        <td>{{ course.status }}</td>
        <td>{{ course.dateOfBirth }}</td>
        <td>{{ course.startDate }}</td>
        <td>{{ course.endDate }}</td>
        <td>{{ course.phone }}</td>
        <td>{{ course.email }}</td>
        <td>{{ course.seatNumber }}</td>
      </tr>
    </table>
  </div>
  